.cover__text {
  width: 560px;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

@media screen and (max-width: 767px){
  .cover__text {
    width: 288px;
    height: 134px;
  }
}
