@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/flex-row/fles-row.css);
@import url(../blocks/centered-block/centered-block.css);

@import url(../blocks/page/page.css);
@import url(../blocks/wrapper/wrapper.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/_position/header_position.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_condition/header__lang-link_condition-selected.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list/_font/intro__list_font-normal.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__item-image/photo-grid__item-image.css);

